.intro-video {
  position: fixed;
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 100%;
}

.menu-right {
  width: 32px;
  position: fixed;
  right: 8px;
  height: 100%;
  top: 0;
  z-index: 15;
}

.menu-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style: none;
}

.line {
  width: 1px;
  height: 6rem;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 16px;
  top: 0;
  opacity: 0.5;
}